# OS
.DS_Store
Thumbs.db

# R
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Data (large files)
*.bam
*.bai
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.vcf
*.vcf.gz
*.bcf

# Logs
*.log
